<div class='footer'>
  <div class="footer_links">
    <%= link_to "Home", root_path %>
    <%= link_to "Shop", shop_path %>
    <%= link_to "Cart", cart_path %>
    <%= link_to "Logout", destroy_user_session_path %>
  </div>
</div>
