<h1> Welcome to shopping Cat <%= image_tag("shopping.png", size: "64x64") %></h1>
<div class="product_list" ng-controller='catCtrl'>

    <h1 class='board-title'>
      <div class='search'>
        <%= image_tag("search.png", size: "64x64") %>
        <input class="search-input" ng-model="query">
      </div>
    <ul>
        <div ng-repeat="cat in cats | orderBy:predicate:reverse | filter:query">
            <li>
            {{cat.name}} ${{cat.price}}
          </li>

        </div>

    </ul>
</div>
